*.swp
*.lo
*.a
*.loT
Makefile*
auto*
configure*
config.h*
config.log
config.guess
config.nice
config.status
missing
ltmain*
install-sh
mkinstalldirs
build
config.sub
aclocal*
acinclude*
libtool
.libs
.deps
*.dep
*.la
modules
run-tests.php

